* {
    box-sizing: border-box;
}

header,
footer,
.sect1,
.sect2,
.sect3 {
    border: 3px solid lime;
}

header,
footer {
    height: 100px;
    text-align: center;
    clear: both;
}

.sect1,
.sect2,
.sect3 {
    height: 300px;
    width: 33.333%;
    float: left;
}
