* {
    box-sizing: border-box;
}

header,
footer {
    height: 120px;
    text-align: center;
    border: 3px purple solid;
}

.fpercent,
.tpercent {
    height: 450px;
    width: 20%;
    border: lime 3px solid;
    float: left;
}

.fpercent {
    width: 40%;
    border-color: blue;
}

 footer {
    clear: left;
 }