/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-color: darkslategray;
  padding: 50px;
}
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
